body {
  margin:auto;
  
}

.table {
  border: 0;
  margin: auto;
  width: 90%;
  display:table;
}
.rowheader {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold;
  display:table-row;
}
.row {
  border: 1px solid #668db6;
  display:table-row;
  width: 300px;
}
.cellheader {
  border-right: 1px solid white;
  display: table-cell;
  width:12%;
  padding: 1px;
  text-align: center; 
}
.cell {
  border-right: 2px solid #336799;
  border-bottom: 2px solid #336799;
  display: table-cell;
  padding-right: 4px;
  text-align: center;
}

.lastCell {
  border-right: none;
}
