body {
  margin:auto;
  
}

.cell {
  border-right: none;
  border-bottom: 2px solid darkgrey;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;

}

.cellheader {
  border-right: 1px solid white;
  display: table-cell;
  padding: 1px;
  text-align: center; 
}

.row {
  border: 1px solid darkgrey;
  display:table-row;
}

.rowheader {
  border: 1px solid darkgrey;
  background-color: darkgrey;
  color: white;
  font-weight: bold;
  display:table-row;
}

.table {
  border: 0;
  margin: auto;
  width: 70%;
  display:table;
}

